.carousel-gallery{
    overflow: hidden;
    width: clamp(18.75rem, 10.75rem + 35.556vw, 42.75rem);

}
.carousel-gallery .gallery-thumb.active {
    border: 3px solid #2056a7;
    opacity: 1;
}

.carousel-gallery .gallery-thumb {
    opacity: 0.7;
    transition: border 0.2s, opacity 0.2s;
}

.carousel-gallery .gallery-thumb:hover {
    opacity: 1;
}