:root {
  --max-width-content: 1200px;
}

* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.body-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.main-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-auto-rows: auto;
  background: #F3F8FF;
}

.section-main {
  background-color: white;
  padding: 20px 0 35px 0;
  width: 100%;
}
.section-main .content {
  display: grid;
  max-width: var(--max-width-content);
  grid-template-columns: 8fr 4fr;
  grid-template-rows: auto;
  grid-template-areas: "section-news-1 social-sidebar" "section-news-1 colombia-news";
  column-gap: 33px;
  row-gap: 37px;
  margin: 0 auto;
}
.section-main .content .section-news-1 {
  grid-area: section-news-1;
  display: flex;
  gap: 30px;
  flex-direction: column;
}
.section-main .content .section-news-1 .news {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "news-1" "news-2" "news-3" "news-4" "news-5" "news-6" "news-7" "news-8" "news-9" "news-10" "news-11" "news-12" "news-13" "news-14" "news-15" "news-16";
  row-gap: 22px;
}
.section-main .content .section-news-1 .news .news-1 {
  grid-area: news-1;
}
.section-main .content .section-news-1 .news .news-2 {
  grid-area: news-2;
}
.section-main .content .section-news-1 .news .news-3 {
  grid-area: news-3;
}
.section-main .content .section-news-1 .news .news-4 {
  grid-area: news-4;
}
.section-main .content .section-news-1 .news .news-5 {
  grid-area: news-5;
}
.section-main .content .section-news-1 .news .news-6 {
  grid-area: news-6;
}
.section-main .content .section-news-1 .news .news-7 {
  grid-area: news-7;
}
.section-main .content .section-news-1 .news .news-8 {
  grid-area: news-8;
}
.section-main .content .section-news-1 .news .news-9 {
  grid-area: news-9;
}
.section-main .content .section-news-1 .news .news-10 {
  grid-area: news-10;
}
.section-main .content .section-news-1 .news .news-11 {
  grid-area: news-11;
}
.section-main .content .section-news-1 .news .news-12 {
  grid-area: news-12;
}
.section-main .content .section-news-1 .news .news-13 {
  grid-area: news-13;
}
.section-main .content .section-news-1 .news .news-14 {
  grid-area: news-14;
}
.section-main .content .section-news-1 .news .news-15 {
  grid-area: news-15;
}
.section-main .content .section-news-1 .news .news-16 {
  grid-area: news-16;
}
.section-main .content .section-news-1 .news .news-17 {
  grid-area: news-17;
  display: none;
}
.section-main .content .section-news-1 .news .news-18 {
  grid-area: news-18;
  display: none;
}
.section-main .content .section-news-1 .news .news-19 {
  grid-area: news-19;
  display: none;
}
.section-main .content .section-news-1 .news .news-20 {
  grid-area: news-20;
  display: none;
}
.section-main .content .section-news-1 .news .news-21 {
  grid-area: news-21;
  display: none;
}
.section-main .content .section-news-1 .news .news-22 {
  grid-area: news-22;
  display: none;
}
.section-main .content .section-news-1 .news .publicity-1 {
  grid-area: publicity-1;
  display: none;
}
.section-main .content .section-news-1 .btn-more-news {
  display: flex;
  justify-content: center;
  position: relative;
}
.section-main .content .section-news-1 .btn-more-news .button {
  position: relative;
  z-index: 2;
}
.section-main .content .section-news-1 .btn-more-news .separator-line {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #104596;
  top: 50%;
  transform: translateY(-50%);
}
.section-main .content .publicity-1 {
  grid-area: publicity-1;
  display: none;
}
.section-main .content .section-sidebar {
  grid-area: social-sidebar;
  height: max-content;
}
.section-main .content .section-colombia-news {
  grid-area: colombia-news;
  display: flex;
}

@media (max-width: 1200px) {
  .section-main, .section-secondary {
    padding-right: 30px;
    padding-left: 30px;
  }
}
@media (max-width: 768px) {
  .section-main .content {
    grid-template-columns: 1fr;
    grid-template-areas: "section-news-1" "publicity-1" "colombia-news";
    row-gap: 30px;
  }
  .section-main .content .section-news-1 .news {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "news-1" "news-2" "news-3" "news-4" "news-5" "news-6" "publicity-1" "news-7" "news-8" "news-9" "news-10" "news-11" "news-12" "news-13" "news-14" "news-15" "news-16" "news-17" "news-18" "news-19" "news-20" "news-21" "news-22";
  }
  .section-main .content .section-news-1 .news .publicity-1 {
    display: flex !important;
    justify-content: center;
  }
  .section-main .content .section-news-1 .news .publicity-1 img {
    width: max-content;
    height: max-content;
  }
  .section-main .content .section-news-1 .news .news-17, .section-main .content .section-news-1 .news .news-18, .section-main .content .section-news-1 .news .news-19, .section-main .content .section-news-1 .news .news-20, .section-main .content .section-news-1 .news .news-21, .section-main .content .section-news-1 .news .news-22 {
    display: flex !important;
  }
  .section-main .content .section-news-1 .news .btn-more-news .separator-line {
    display: none;
  }
  .section-main .content .publicity-1 {
    display: flex !important;
    justify-content: center;
  }
  .section-main .content .publicity-1 img {
    width: max-content;
    height: max-content;
  }
  .section-main .content .section-sidebar {
    display: none;
  }
  .section-main .content .section-colombia-news {
    grid-area: colombia-news;
    display: flex;
  }
}